<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <configSections>
		<section name="imagevault.client" type="ImageVault.Client.Configuration.ClientConfigurationSection, ImageVault.Client" />
	</configSections>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" /></startup>
  <appSettings>
    <add key="TesseractPath" value="D:\Tesseract-OCR\tesseract.exe"/>
    <add key="VaultId" value="520"/>
    <add key="OcrMetadataName" value="ocr"/>
    <add key="AsciiMetadataName" value="ascii"/>
  </appSettings>
<imagevault.client configSource="imagevault.client.config" /></configuration>
